<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitlabNewIssueOutlookAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GitlabNewIssueOutlookAddin.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="Search" serializeAs="String">
                <value />
            </setting>
            <setting name="Membership" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Owned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Starred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </GitlabNewIssueOutlookAddin.Properties.Settings>
    </userSettings>
</configuration>